.bg-main{
    background: #d5e6f2;
}
.bg-title{
    color: #023059;
}
.bg-btn{
    background: #2284bd;
}
.bg-btn:hover{
    background: #2261bd;
}
.element{
    color: #424c5b;
}
.bg-white{
    background-color: #fff;
}
body{
    color: #727888;
}
.error {
    background: #ffebee none repeat scroll 0 0;
    color: #fe1205 !important;
    display: inline-block;
    font-size: 15px;
    margin-top: 13px !important;
    padding: 0 9px;
    text-align: center;
}
.bg-second{
    background: #424c5b;
}
#navigation{
    min-height: 900px;
}